/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 60%;
    /* The width is the width of the web page */
    margin-left: 20%;
  }
.map-title{
    margin-left: 20%;
}



.introduction{
    text-align: center;
}

.empty-space{
    /* height: auto;
    width: auto; */
    padding-left: 10%;
    margin-bottom: 5%;
    padding-right: 10%;
}