.courses{
    /* height: auto;
    width: auto; */
    padding-left: 36%;
    margin-bottom: 5%;
    padding-right: 10%;
}

.course-page{
    /* height: auto;
    width: auto; */
    padding-left: 20%;
    margin-bottom: 5%;
    padding-right: 20%;
}

.course-page-table-title{
    padding-left: 20%;
}

.courses-list{
    /* height: auto;
    width: auto; */
    margin-left: 23%;
    margin-bottom: 5%;
    /* padding-right: 20%; */
}



.teachers{
    /* height: auto;
    width: auto; */
    padding-left: 20%;
    margin-bottom: 5%;
    padding-right: 10%;
}

.empty-space{
    /* height: auto;
    width: auto; */
    padding-left: 10%;
    margin-bottom: 5%;
    padding-right: 10%;
}

.appointment-list{
   
    padding-left: 10%;
    margin-bottom: 5%;
    padding-right: 10%;

    /* padding-right: 30%; */
}

.large-empty-space{
    /* height: auto;
    width: auto; */
    padding-left: 10%;
    margin-bottom: 20%;
    padding-right: 10%;
}


.table-title{
    padding-left: 36%;
}

.add-button{
    padding-left: 36%;
    
}